.pagination {
    
    display: flex;
    justify-items: right;
    align-items: right;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #007bff;
    border-color: white ;
    color:white;
  }
  .pagination > li > a{
    border: 1px solid white ;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #007bff;
    border-color: white;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #007bff
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  .pagination:first-child{
   color: #007bff;
  }